
*.SLDPRT
RELAP_FILES/Automation_Tools/Experimental_Data/PG_26
RELAP_FILES/Automation_Tools/Experimental_Data/PG_28
RELAP_FILES/PG_26_Files/PG26_Data_Quality.csv
RELAP_FILES/PG_26_Files/PG26_Data_Trend.csv
RELAP_FILES/PG_28_Files/PG28_Data_Quality.csv
RELAP_FILES/PG_28_Files/PG28_Data_Trend.csv
RELAP_FILES/PG_26_Files/Iteration_1/R5_Files/Flow_Rate_1/PG26_Data_Trend.csv
RELAP_FILES/PG_26_Files/Iteration_1/R5_Files/Flow_Rate_1/PG26_Data_Quality.csv
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_4/restart_Point_4.plt
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_4375/restart_Point_4375.plt
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_375/restart_Point_375.plt
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_5/restart_Point_5.r
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_5/restart_Point_5_SS_drain_1.plt
RELAP_FILES/PG_28_Files/Iteration_3/R5_Files/Flow_Rate_Point_5/restart_Point_5_SS_drain_1.r
STAR_CCM_Files/PostProcessing_Folder/HTTF_R5_File_Prisms.zip
*.pdf
*.sim
*.sim~
*.sim~~
tpf*
*.rst
*.r
*.plt
plotfl
rellic.bin
STAR_CCM_Files/Other_Sims/HTTF_R5_File_Prisms_Coarse_Try_This.sim~~
